<web-app>
 <servlet>
     <display-name>Company Service</display-name>
     <servlet-name>ServiceLayer.ApplicationConfig</servlet-name>
     <init-params>
         <param-name>javax.ws.rs.ApplicationConfig</param-name>
         <param-value>ServiceLayer.ApplicationConfig</param-value>
     </init-params>
 </servlet>
</web-app>